.hero {
  padding-top: 80px;
  padding-bottom: 160px;

  @include tablet {
    padding-bottom: 80px;
  }

  @include mobile {
    padding: 60px 0;
  }

  &__container {
    padding: 0 calc(250px - var(--container-padding));
    max-width: 100%;

    @include tablet {
      padding: 0 calc(100px - var(--container-padding));
    }

    @include small-tablet {
      padding: 0 calc(50px - var(--container-padding));
    }

    @include mobile {
      padding: var(--container-padding);
    }
  }

  &__title {
    margin-bottom: 80px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 60px;
    }
  }

  &__article {
    margin-bottom: 56px;

    @include mobile {
      margin-bottom: 30px;
    }

    &-info {
      @include flex-all-between;
      gap: 16px;
      flex-wrap: wrap;
      margin-bottom: 24px;
    }

    &-author {
      @include flex-all-between;
      gap: 24px;

      &-avatar {
        border-radius: 50%;
        width: 56px;
        height: 56px;
      }

      &-name {
        font-weight: 600;
        line-height: 26px;
        color: var(--neutral-color-100);
      }

      &-profession {
        font-weight: 500;
        line-height: 26px;
        color: var(--neutral-color-150);
      }
    }

    &-date {
      font-weight: 500;
      line-height: 150%;
      color: var(--neutral-color-150);
    }

    &-image {
      margin-bottom: 80px;
      width: 100%;

      @include mobile {
        margin-bottom: 24px;
      }
    }

    &-text {
      margin-bottom: 56px;
      line-height: 32px;
      color: var(--neutral-color-100);

      @include mobile {
        margin-bottom: 24px;
      }
    }

    &-subtitle {
      margin-bottom: 24px;
      font-weight: 600;
      color: var(--neutral-color-100);
    }
  }

  &__creator {
    @include flex-justify-center;
    gap: 48px;
    align-items: start;

    @include small-tablet {
      gap: 24px;
      flex-direction: column;
    }

    &-photo {
      width: 200px;
      height: 200px;
    }

    &-row {
      @include flex-align-center;
      gap: 24px;
      margin-bottom: 14px;

      @include small-tablet {
        flex-wrap: wrap;
        row-gap: 12px;
      }
    }

    &-socials {
      @include flex-all-center;
      gap: 32px;
    }

    &-link {
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      & svg {
        fill: var(--neutral-color-100);
      }
    }

    &-text {
      display: inline-block;
      justify-self: center;
      font-weight: 500;
      line-height: 26px;
      color: var(--neutral-color-100);
    }

    &-subtext {
      display: inline-block;
      margin-bottom: 16px;
      line-height: 24px;
      color: var(--neutral-color-150);
    }

    &-name {
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: -1px;
      color: var(--neutral-color-100);
    }

    &-profession {
      display: inline-block;
      margin-bottom: 16px;
      font-weight: 500;
      line-height: 26px;
      color: var(--neutral-color-150);
    }

    &-descr {
      line-height: 32px;
      color: var(--neutral-color-100);
    }
  }
}
