.overview {
  padding: 100px 0 107px;
  background-color: var(--black-bg-color);

  @include tablet {
    text-align: center;
  }

  @include mobile {
    padding: 60px 0;
  }

  &__title {
    margin-bottom: 24px;
    max-width: 816px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #fff;
  }

  &__descr {
    margin-bottom: 80px;
    max-width: 660px;
    font-weight: 500;
    line-height: 150%;
    color: var(--neutral-color-150);

    @include tablet {
      margin-bottom: 60px;
    }
  }

  &__list {
    @include flex-all-between;
    gap: 56px;
    flex-wrap: wrap;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 457px;

    &-img,
    &-title {
      margin-bottom: 24px;

      @include tablet {
        margin-bottom: 18px;
      }
    }

    &-title {
      max-width: 293px;
      font-weight: 600;
      letter-spacing: -1px;
      color: #fff;

      & br {
        @include tablet {
          display: none;
        }
      }

      @include mobile {
        max-width: 320px;
      }
    }

    &-descr {
      font-weight: 500;
      line-height: 26px;
      color: var(--neutral-color-150);
    }
  }

  &__title,
  &__descr,
  &__item-title {
    @include tablet {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
