<section class="faq">
  <div class="container faq__container">
    <h2 class="faq__title heading-h2">Frequently asked questions</h2>
    <p class="faq__descr text-p-medium">
      Everything you need to&nbsp;know about the product and billing.
    </p>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          Is&nbsp;there a&nbsp;free trial available?
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try&nbsp;us for free for 30&nbsp;days. If&nbsp;you want,
        we&rsquo;ll provide you with a&nbsp;free, personalized 30-minute
        onboarding call to&nbsp;get you up&nbsp;and running as&nbsp;soon
        as&nbsp;possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          How Can I&nbsp;Add More Emails To&nbsp;My&nbsp;Account?
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try&nbsp;us for free for 30&nbsp;days. If&nbsp;you want,
        we&rsquo;ll provide you with a&nbsp;free, personalized 30-minute
        onboarding call to&nbsp;get you up&nbsp;and running as&nbsp;soon
        as&nbsp;possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          Can I&nbsp;Change Plans Or&nbsp;Cancel My&nbsp;Subscription
          At&nbsp;Any Time
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try&nbsp;us for free for 30&nbsp;days. If&nbsp;you want,
        we&rsquo;ll provide you with a&nbsp;free, personalized 30-minute
        onboarding call to&nbsp;get you up&nbsp;and running as&nbsp;soon
        as&nbsp;possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          How Secure Is&nbsp;My&nbsp;Date With Sans CRM
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try&nbsp;us for free for 30&nbsp;days. If&nbsp;you want,
        we&rsquo;ll provide you with a&nbsp;free, personalized 30-minute
        onboarding call to&nbsp;get you up&nbsp;and running as&nbsp;soon
        as&nbsp;possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          What Is&nbsp;The Uptime Guarantee
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try&nbsp;us for free for 30&nbsp;days. If&nbsp;you want,
        we&rsquo;ll provide you with a&nbsp;free, personalized 30-minute
        onboarding call to&nbsp;get you up&nbsp;and running as&nbsp;soon
        as&nbsp;possible.
      </p>
    </details>
  </div>
</section>
