<section class="hero hero--about">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Everything you need to&nbsp;get the attention of&nbsp;your audience
    </h2>
    <div class="hero__content">
      <p class="hero__descr text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to&nbsp;build your website and create online businesses that
        grow.
      </p>
      <div class="hero__decor">
        <svg class="hero__circle" viewBox="0 0 100 100">
          <path id="circle" d="M -0,46 a 46.5,46.5 0 1,1 0,1 z" />
          <text class="hero__circle-text">
            <textPath xlink:href="#circle">
              Get in touch • Get in touch • Get in touch •
            </textPath>
          </text>
        </svg>
        <svg
          width="59"
          height="59"
          viewBox="0 0 59 59"
          fill="none"
          class="hero__arrow"
        >
          <rect width="59" height="59" />
          <g clip-path="url(#clip0_0_1)">
            <rect
              width="1440"
              height="4269"
              transform="translate(-1183 -667)"
            />
            <rect
              x="15.0284"
              y="46.4426"
              width="3.85427"
              height="41.4334"
              transform="rotate(-135 15.0284 46.4426)"
              class="hero__arrow-line"
            />
            <rect
              x="17.8915"
              y="17.9634"
              width="3.85427"
              height="26.9799"
              transform="rotate(-90 17.8915 17.9634)"
              class="hero__arrow-line"
            />
            <rect
              x="44.8912"
              y="41.1089"
              width="3.85427"
              height="26.9799"
              transform="rotate(180 44.8912 41.1089)"
              class="hero__arrow-line"
            />
          </g>
          <defs>
            <clipPath id="clip0_0_1">
              <rect
                width="1440"
                height="4269"
                transform="translate(-1183 -667)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="hero__slider-wrapper">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper hero__cards">
          <div class="swiper-slide hero__card">
            <img
              src="./assets/image/about-slide-1-img.jpg"
              alt="Man taping on keyboard"
              class="hero__card-img"
            />
          </div>
          <div class="swiper-slide hero__card">
            <img
              src="./assets/image/about-slide-2-img.jpg"
              alt="Man taping on keyboard"
              class="hero__card-img"
            />
            <div class="hero__slide-content">
              <h4 class="hero__card-title heading-h5">What we believe in</h4>
              <p class="hero__card-descr p-subtitle-medium">
                Over the years at&nbsp;Sans, we&rsquo;ve put a&nbsp;lot
                of&nbsp;thought into what it&nbsp;is&nbsp;that makes&nbsp;us who
                we&nbsp;are. The qualities that unite&nbsp;us, that make&nbsp;us
                such an&nbsp;effective team, and...
              </p>
              <button class="hero__card-btn button-form">
                See Details -&gt;
              </button>
            </div>
          </div>
          <div class="swiper-slide hero__card">
            <img
              src="./assets/image/about-slide-3-img.jpg"
              alt="Man taping on keyboard"
              class="hero__card-img hero__card-img--large"
            />
          </div>
        </div>
        <div class="swiper-pagination hero__slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
