.hero {
  position: relative;
  padding-top: 95px;
  padding-bottom: 168px;

  @include tablet {
    padding-bottom: 60px;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
  }

  &::after {
    top: 0;
    left: 51px;
    border-radius: 551px;
    width: 551px;
    height: 551px;
    background: #fa7515;
    opacity: 0.13;
    filter: blur(110px);
  }

  &::before {
    top: 343px;
    right: -44px;
    border-radius: 525px;
    width: 525px;
    height: 525px;
    background: rgba(226, 248, 240, 0.7);
    filter: blur(90px);
  }

  &__title {
    margin-bottom: 53px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--neutral-color-100);
  }

  &__descr {
    display: flex;
    align-items: flex-start;
    margin-bottom: 128px;
    max-width: 770px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -1px;
    color: var(--neutral-color-100);

    @include tablet {
      margin-bottom: 60px;
    }

    &::before {
      flex-shrink: 0;
      margin-top: 23px;
      transform: translateY(0);

      @include small-tablet {
        content: none;
      }
    }
  }

  &__tabs {
    &-list {
      @include flex-align-center;
      gap: 8px 16px;
      flex-wrap: wrap;
      margin-bottom: 80px;

      @include tablet {
        margin-bottom: 40px;
      }
    }

    &-label {
      display: block;
      padding: 10px 14px;
      font-weight: 500;
      line-height: 24px;
      color: var(--neutral-color-150);

      & input[type='radio'] {
        display: none;

        &:checked + span {
          font-weight: 600;
          text-decoration-line: underline;
          color: var(--neutral-color-100);
        }
      }
    }
  }

  &__slider {
    &.swiper {
      overflow: visible;
    }

    &-wrapper {
      margin-bottom: 20px;
    }

    &-pagination.swiper-pagination {
      position: static;
      margin: 0 auto;
      max-width: 300px;

      &.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: var(--neutral-color-100);
      }
    }
  }

  &__cards {
    margin-bottom: 30px;
  }

  &__card {
    max-width: 515px;

    &-content {
      max-width: 493px;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-info {
      display: block;
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 150%;
      color: var(--neutral-color-150);
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      color: var(--neutral-color-100);
    }

    &-descr {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: var(--neutral-color-150);
    }
  }
}
