<section class="articles">
  <div class="container">
    <div class="articles__top">
      <div class="articles__top-left">
        <h2 class="articles__title heading-h2">Articles</h2>
        <p class="articles__descr text-p-medium">
          Complex tech decoded by&nbsp;engineers, business trends analyzed
          by&nbsp;experts.
        </p>
      </div>
      <div class="articles__top-right">
        <div class="articles__btns">
          <button class="articles__btn articles__btn--prev">
            <svg
              width="14.399902"
              height="12.600098"
              viewBox="0 0 14.3999 12.6001"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs />
              <path
                d="M6.93 12.33C6.58 12.68 6.01 12.68 5.66 12.33L0.26 6.93C-0.09 6.58 -0.09 6.01 0.26 5.66L5.66 0.26C6.01 -0.09 6.58 -0.09 6.93 0.26C7.28 0.61 7.28 1.18 6.93 1.53L3.07 5.4L13.5 5.4C13.99 5.4 14.39 5.8 14.39 6.3C14.39 6.79 13.99 7.2 13.5 7.2L3.07 7.2L6.93 11.06C7.28 11.41 7.28 11.98 6.93 12.33Z"
                fill-opacity="1.000000"
                fill-rule="evenodd"
              />
            </svg>
          </button>
          <button class="articles__btn articles__btn--next">
            <svg
              width="14.399902"
              height="12.600098"
              viewBox="0 0 14.3999 12.6001"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs />
              <path
                d="M7.46 0.26C7.81 -0.09 8.38 -0.09 8.73 0.26L14.13 5.66C14.48 6.01 14.48 6.58 14.13 6.93L8.73 12.33C8.38 12.68 7.81 12.68 7.46 12.33C7.11 11.98 7.11 11.41 7.46 11.06L11.32 7.19L0.89 7.19C0.4 7.19 0 6.79 0 6.3C0 5.8 0.4 5.39 0.89 5.39L11.32 5.39L7.46 1.53C7.11 1.18 7.11 0.61 7.46 0.26Z"
                fill-opacity="1.000000"
                fill-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="articles__slider-wrapper">
      <div class="swiper articles__slider">
        <div class="swiper-wrapper articles__cards">
          <div class="swiper-slide articles__card">
            <img
              src="./assets/image/articles-slide-1-img.jpg"
              alt="Man and woman"
              class="articles__card-img"
            />
            <div class="articles__card-content">
              <h4 class="articles__card-title heading-h5">
                List of&nbsp;UX&nbsp;Designer Portfolio&nbsp;/ Case Studies
                where you can make money
              </h4>
              <p class="articles__card-descr text-p-medium">
                Here are some portfolios&nbsp;/ Case Studies from
                UX&nbsp;Designers that you can use as&nbsp;a&nbsp;reference for
                creating a&nbsp;portfolio. Two interesting things from their
                portfolio are:
              </p>
              <div class="articles__card-btn-wrapper">
                <a
                  href="/coca/post.html"
                  class="articles__card-btn button-form"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide articles__card">
            <img
              src="./assets/image/blog-slide-3-img.jpg"
              alt="Woman and man high-fives"
              class="articles__card-img"
            />
            <div class="articles__card-content">
              <h4 class="articles__card-title heading-h5">
                Skyrocketing in&nbsp;The Designing Career, Why Not?
              </h4>
              <p class="articles__card-descr text-p-medium">
                Ever thought of&nbsp;jumping into the world of&nbsp;design
                as&nbsp;a&nbsp;career? If&nbsp;not, you may want to&nbsp;look
                at&nbsp;what the word &lsquo;design&rsquo; actually means.
                Design is&nbsp;a&nbsp;method of&nbsp;designing aesthetic actions
                that are carried out.
              </p>
              <div class="articles__card-btn-wrapper">
                <a
                  href="/coca/post.html"
                  class="articles__card-btn button-form"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide articles__card">
            <img
              src="./assets/image/articles-slide-3-img.jpg"
              alt="Woman and man look in monitor"
              class="articles__card-img"
            />
            <div class="articles__card-content">
              <h4 class="articles__card-title heading-h5">
                Elements that may be&nbsp;missed when designing the&nbsp;UI
              </h4>
              <p class="articles__card-descr text-p-medium">
                This is&nbsp;an&nbsp;article that talks about the little
                elements that are often overlooked when designing&nbsp;UI.
              </p>
              <div class="articles__card-btn-wrapper">
                <a
                  href="/coca/post.html"
                  class="articles__card-btn button-form"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide articles__card">
            <img
              src="./assets/image/articles-slide-1-img.jpg"
              alt="Woman with cup of tea"
              class="articles__card-img"
            />
            <div class="articles__card-content">
              <h4 class="articles__card-title heading-h5">
                List of&nbsp;UX&nbsp;Designer Portfolio&nbsp;/ Case Studies
                where you can make money
              </h4>
              <p class="articles__card-descr text-p-medium">
                Here are some portfolios&nbsp;/ Case Studies from
                UX&nbsp;Designers that you can use as&nbsp;a&nbsp;reference for
                creating a&nbsp;portfolio. Two interesting things from their
                portfolio are:
              </p>
              <div class="articles__card-btn-wrapper">
                <a
                  href="/coca/post.html"
                  class="articles__card-btn button-form"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide articles__card">
            <img
              src="./assets/image/articles-slide-1-img.jpg"
              alt="Woman with cup of tea"
              class="articles__card-img"
            />
            <div class="articles__card-content">
              <h4 class="articles__card-title heading-h5">
                List of&nbsp;UX&nbsp;Designer Portfolio&nbsp;/ Case Studies
                where you can make money
              </h4>
              <p class="articles__card-descr text-p-medium">
                Here are some portfolios&nbsp;/ Case Studies from
                UX&nbsp;Designers that you can use as&nbsp;a&nbsp;reference for
                creating a&nbsp;portfolio. Two interesting things from their
                portfolio are:
              </p>
              <div class="articles__card-btn-wrapper">
                <a
                  href="/coca/post.html"
                  class="articles__card-btn button-form"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide articles__card">
            <img
              src="./assets/image/blog-slide-3-img.jpg"
              alt="Woman and man high-fives"
              class="articles__card-img"
            />
            <div class="articles__card-content">
              <h4 class="articles__card-title heading-h5">
                Skyrocketing in&nbsp;The Designing Career, Why Not?
              </h4>
              <p class="articles__card-descr text-p-medium">
                Ever thought of&nbsp;jumping into the world of&nbsp;design
                as&nbsp;a&nbsp;career? If&nbsp;not, you may want to&nbsp;look
                at&nbsp;what the word &lsquo;design&rsquo; actually means.
                Design is&nbsp;a&nbsp;method of&nbsp;designing aesthetic actions
                that are carried out.
              </p>
              <div class="articles__card-btn-wrapper">
                <a
                  href="/coca/post.html"
                  class="articles__card-btn button-form"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
