<section class="hero hero--blog">
  <div class="container">
    <h2 class="hero__title heading-h1">Activity &amp;&nbsp;Updates</h2>
    <p class="hero__descr text-p-subtitle">
      Our biggest challenge is&nbsp;making sure we&rsquo;re always designing and
      building products that will help you run your business better.
    </p>
    <ul class="hero__tabs-list">
      <li class="hero__tabs-item">
        <label class="hero__tabs-label">
          <input type="radio" name="tabs" checked />
          <span class="hero__tabs-name">View all</span>
        </label>
      </li>
      <li class="hero__tabs-item">
        <label class="hero__tabs-label">
          <input type="radio" name="tabs" />
          <span class="hero__tabs-name">Design</span>
        </label>
      </li>
      <li class="hero__tabs-item">
        <label class="hero__tabs-label">
          <input type="radio" name="tabs" />
          <span class="hero__tabs-name">Articles</span>
        </label>
      </li>
      <li class="hero__tabs-item">
        <label class="hero__tabs-label">
          <input type="radio" name="tabs" />
          <span class="hero__tabs-name">Product</span>
        </label>
      </li>
      <li class="hero__tabs-item">
        <label class="hero__tabs-label">
          <input type="radio" name="tabs" />
          <span class="hero__tabs-name">Software Development</span>
        </label>
      </li>
      <li class="hero__tabs-item">
        <label class="hero__tabs-label">
          <input type="radio" name="tabs" />
          <span class="hero__tabs-name">Customer Success</span>
        </label>
      </li>
    </ul>
    <div class="hero__slider-wrapper">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper hero__cards">
          <div class="swiper-slide hero__card hero__card--articles">
            <img
              src="./assets/image/blog-slide-1-img.jpg"
              alt="Woman with cup of tea"
              class="hero__card-img"
            />
            <div class="hero__card-content">
              <span class="hero__card-info">
                Published in&nbsp;Insight Jan&nbsp;30, 2021
              </span>
              <h4 class="hero__card-title heading-h5">
                <a href="/coca/post.html">Practice making User Flow</a>
              </h4>
              <p class="hero__card-descr p-subtitle-medium">
                In&nbsp;this article, we&rsquo;ll cover how to&nbsp;create user
                flows
              </p>
            </div>
          </div>
          <div class="swiper-slide hero__card hero__card--design">
            <img
              src="./assets/image/blog-slide-2-img.jpg"
              alt="2 woman with laptop"
              class="hero__card-img"
            />
            <div class="hero__card-content">
              <span class="hero__card-info">
                Published in Insight Jan 30, 2021
              </span>
              <h4 class="hero__card-title heading-h5">
                <a href="/coca/post.html">Overview of the Design Principles</a>
              </h4>
              <p class="hero__card-descr p-subtitle-medium">
                What are Design Principles?... To&nbsp;understand design
                principles, we&nbsp;first discuss the principles.
              </p>
            </div>
          </div>
          <div
            class="swiper-slide hero__card hero__card--design hero__card--product"
          >
            <img
              src="./assets/image/blog-slide-3-img.jpg"
              alt="Man and woman gives high-fives"
              class="hero__card-img"
            />
            <div class="hero__card-content">
              <span class="hero__card-info">
                Published in Insight Jan 30, 2021
              </span>
              <h4 class="hero__card-title heading-h5">
                <a href="/coca/post.html">Using Grid in website design</a>
              </h4>
              <p class="hero__card-descr p-subtitle-medium">
                Andi: &laquo;What&rsquo;s the grid like?&raquo; Toni:
                &laquo;Like below...&raquo;
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination hero__slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
