<section class="posts">
  <div class="container">
    <ul class="posts__list">
      <li class="posts__item">
        <img
          class="posts__item-img"
          src="./assets/image/posts-img-1.jpg"
          alt="Tablet on the table"
        />
        <h3 class="posts__item-title heading-h3">
          <a href="/coca/post.html">
            How we&nbsp;perform long-running tasks using AWS services
          </a>
        </h3>
        <p class="posts__item-descr text-p-medium">
          Webflow is&nbsp;web design tool as&nbsp;well as&nbsp;a&nbsp;hosting
          platform and CMS all in&nbsp;one. While you are probably familiar with
          all of&nbsp;these, they are usually entirely separate tools.
        </p>
      </li>
      <li class="posts__item">
        <img
          class="posts__item-img"
          src="./assets/image/posts-img-2.jpg"
          alt="Team on the meeting"
        />
        <h3 class="posts__item-title heading-h3">
          <a href="/coca/post.html">
            How to&nbsp;ask when doing User Research
          </a>
        </h3>
        <p class="posts__item-descr text-p-medium">
          Bro, the story is&nbsp;that you want to&nbsp;make an&nbsp;application
          for buying and selling goods on&nbsp;the market. During user research,
          what do&nbsp;you think you will ask people?
        </p>
      </li>
      <li class="posts__item">
        <img
          class="posts__item-img"
          src="./assets/image/posts-img-3.jpg"
          alt="Man and the cup of coffee"
        />
        <h3 class="posts__item-title heading-h3">
          <a href="/coca/post.html">
            Layout Exploration&nbsp;&mdash; Simple exercise but big effect
          </a>
        </h3>
        <p class="posts__item-descr text-p-medium">
          Make alternatives or&nbsp;other options for the design we&nbsp;are
          making. For example, we&nbsp;are creating a&nbsp;website design. Then
          there is&nbsp;the testimonial section.
        </p>
      </li>
      <li class="posts__item">
        <img
          class="posts__item-img"
          src="./assets/image/posts-img-4.jpg"
          alt="Man and woman"
        />
        <h3 class="posts__item-title heading-h3">
          <a href="/coca/post.html"> Webflow Break the Coding Barrier </a>
        </h3>
        <p class="posts__item-descr text-p-medium">
          Webflow is&nbsp;web design tool as&nbsp;well as&nbsp;a&nbsp;hosting
          platform and CMS all in&nbsp;one. While you are probably familiar with
          all of&nbsp;these, they are usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
