.partners {
  &__container {
    @include flex-all-center;
    gap: 30px;
    border: 1px solid var(--neutral-color-30);
    border-right: none;
    border-left: none;
    padding: 86px 15px;

    @include tablet {
      flex-direction: column;
      padding: 40px 15px;
    }
  }

  &__title {
    @include flex-column;
    align-items: flex-start;
    margin-left: 74px;
    min-width: 323px;
    font-weight: 500;
    line-height: 32px;
    color: var(--neutral-color-150);

    @include tablet {
      align-items: center;
      margin-left: 0;
      text-align: center;
    }

    &-num {
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -2px;
      color: var(--neutral-color-100);
    }
  }

  &__list {
    @include flex-align-center;
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: start;

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      gap: 10px;
    }
  }

  &__item {
    @include flex-all-center;
    border-radius: 16px;
    width: 160px;
    height: 90px;
    background: #fff;
  }
}
