<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we&nbsp;work with, and trust&nbsp;us very much
    </h2>
    <div class="swiper partners__slider">
      <ul class="partners__list swiper-wrapper">
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/airbnb-logo-icon.svg"
            alt="AirBnb logo"
            class="partners__item-img"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/amazon-logo-icon.svg"
            alt="Amazon logo"
            class="partners__item-img"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/fedex-logo-icon.svg"
            alt="FedEx logo"
            class="partners__item-img"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/microsoft-logo-icon.svg"
            alt="Microsoft logo"
            class="partners__item-img"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/google-logo-icon.svg"
            alt="Google logo"
            class="partners__item-img"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/ola-logo-icon.svg"
            alt="Ola logo"
            class="partners__item-img"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/walmart-logo-icon.svg"
            alt="Walmart logo"
            class="partners__item-img"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/oyo-logo-icon.svg"
            alt="Oyo logo"
            class="partners__item-img"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
