.hero {
  position: relative;
  padding-top: 83px;

  @include mini-desctop {
    padding: 67px 0 121px;
  }

  @include mobile {
    min-height: 100dvh;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: var(--z-index-0);
    display: inline-block;
    border-radius: 50%;
  }

  &::before {
    top: 50px;
    left: 181px;
    width: 551px;
    height: 551px;
    background: #fa7515;
    opacity: 0.2;
    filter: blur(220px);

    @include mini-desctop {
      left: 80px;
      width: 351px;
      height: 351px;
    }

    @include small-tablet {
      width: 251px;
      height: 251px;
    }
  }

  &::after {
    right: -400px;
    bottom: -170px;
    width: 525px;
    height: 525px;
    background: var(--success-color-70);
    filter: blur(180px);

    @include mini-desctop {
      width: 325px;
      height: 325px;
    }

    @include small-tablet {
      top: 20px;
      left: 40px;
      width: 225px;
      height: 225px;
    }
  }

  &__container {
    position: relative;

    @include flex-justify-between;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-end;

    @include mini-desctop {
      gap: 50px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__left {
    max-width: 600px;
  }

  &__title {
    margin-bottom: 114px;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -3px;
    color: var(--neutral-color-100);

    @include mini-desctop {
      margin-bottom: 74px;
    }

    @include tablet {
      margin-bottom: 44px;
      font-size: 60px;
    }

    @include mobile {
      margin-bottom: 38px;
      font-size: 48px;
    }

    @include small-mobile {
      margin-bottom: 30px;
      font-size: 42px;
    }
  }

  &__subtitle {
    margin-bottom: 69px;
  }

  &__form {
    @include flex-align-center;
    gap: 18px;

    @include mini-desctop {
      justify-content: center;
    }

    @include small-mobile {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__input {
    border-bottom: 1px solid var(--neutral-color-40);
    padding-bottom: 23px;
    min-width: 280px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-color-100);
    background-color: transparent;

    @include small-tablet {
      padding-bottom: 13px;
    }

    @include mobile {
      min-width: 100px;
      max-width: 180px;
    }
  }

  &__btn {
    padding: 16px 44px;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-100);

    @include small-tablet {
      padding: 12px 32px;
    }
  }

  &__right {
    position: relative;
    margin-right: 68px;
    transform: translateY(6px);

    @include mini-desctop {
      display: none;
    }
  }

  &__sales {
    margin-bottom: 29px;
    padding: 20px;

    @include small-desctop {
      max-width: 320px;
    }

    &-img {
      @include small-desctop {
        max-width: 280px;
      }
    }

    &-title {
      margin-bottom: 13px;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.5px;
      color: #1d1e25;
    }
  }

  &__sales,
  &__customer {
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0 #5960871f;
    background: #fff;
  }

  &__customer {
    position: absolute;
    top: -60px;
    right: -140px;
    display: inline-block;
    padding: 13px 18px;

    @include small-desctop {
      top: -120px;
      right: -80px;
    }

    @include mini-desctop {
      top: 0;
      right: -100px;
    }

    &-title {
      margin-bottom: 11px;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: -0.5px;
      color: #1d1e25;
    }
  }

  &__stats {
    border-radius: 8px;
    padding: 16px 26px;
    box-shadow: 20px 40px 80px 0 #2d33511f;
    text-align: left;
    background-color: #000;

    &-head {
      &-th {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #5c616f;
      }
    }

    &-body {
      &-th {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #fff;

        &:nth-child(1) {
          padding-right: 81px;
        }

        &:nth-child(2) {
          padding-right: 8px;
        }
      }

      &-num {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
        }

        &--green {
          color: #60d39c;

          &::before {
            background: url('../assets/icons/green-arrow-icon.svg');
          }
        }

        &--red {
          color: #e35454;

          &::before {
            background: url('../assets/icons/red-arrow-icon.svg');
          }
        }
      }

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.5px;
        color: #5c616e;
      }
    }
  }
}
