<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">
      we&nbsp;have some new Service to&nbsp;pamper you
    </p>
    <div class="swiper insight__slider">
      <div class="swiper-wrapper insight__slider-wrapper">
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-1-img.jpg"
            alt="Woman typing on laptop and writing on notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an&nbsp;authentic employee profile, and why does
            it&nbsp;matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-2-img.jpg"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to&nbsp;build a&nbsp;Kaylen relationship with a&nbsp;good
            company
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-1-img.jpg"
            alt="Woman typing on laptop and writing on notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an&nbsp;authentic employee profile, and why does
            it&nbsp;matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-2-img.jpg"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to&nbsp;build a&nbsp;Kaylen relationship with a&nbsp;good
            company
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-1-img.jpg"
            alt="Woman typing on laptop and writing on notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an&nbsp;authentic employee profile, and why does
            it&nbsp;matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-2-img.jpg"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to&nbsp;build a&nbsp;Kaylen relationship with a&nbsp;good
            company
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-1-img.jpg"
            alt="Woman typing on laptop and writing on notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an&nbsp;authentic employee profile, and why does
            it&nbsp;matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-2-img.jpg"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to&nbsp;build a&nbsp;Kaylen relationship with a&nbsp;good
            company
          </h3>
        </div>
      </div>
      <div class="swiper-pagination insight__slider-pagination"></div>
    </div>
  </div>
</section>
