<section class="overview">
  <div class="container">
    <h2 class="overview__title heading-h2">
      Coca help our client solve complex customer problems with date that does
      more.
    </h2>
    <p class="overview__descr text-p-medium">
      Our platform offers the modern enterprise full control of&nbsp;how date
      can be&nbsp;access and used with industry leading software solutions for
      identity, activation, and date collaboration
    </p>
    <ul class="overview__list">
      <li class="overview__item">
        <img
          loading="lazy"
          src="./assets/icons/calendar-icon.svg"
          width="40"
          height="40"
          alt="Calendar icon"
          class="overview__item-img"
        />
        <h3 class="overview__item-title heading-h5">
          Build your date fundamental
        </h3>
        <p class="overview__item-descr text-p-default">
          Build access to&nbsp;date, develop valuable business insights and
          drive revenue while maintaining full control over access&nbsp;and use
          of&nbsp;date at&nbsp;all times.
        </p>
      </li>
      <li class="overview__item">
        <img
          loading="lazy"
          src="./assets/icons/todo-icon.svg"
          width="40"
          height="40"
          alt="Todo icon"
          class="overview__item-img"
        />
        <h3 class="overview__item-title heading-h5">Measure more effective</h3>
        <p class="overview__item-descr text-p-default">
          Effectively measure people-based campaigns with the&nbsp;freedom
          to&nbsp;choose from best-of breed partners to&nbsp;optimize and drive
          media innovation.
        </p>
      </li>
      <li class="overview__item">
        <img
          loading="lazy"
          src="./assets/icons/list-icon.svg"
          width="40"
          height="40"
          alt="List icon"
          class="overview__item-img"
        />
        <h3 class="overview__item-title heading-h5">
          Activate your<br />
          date
        </h3>
        <p class="overview__item-descr text-p-default">
          Accurately address your specific audiences at&nbsp;scale across any
          channel, platform, publisher or&nbsp;network and safely translate date
          between identity space to&nbsp;improve results.
        </p>
      </li>
      <li class="overview__item">
        <img
          loading="lazy"
          src="./assets/icons/shield-icon.svg"
          width="40"
          height="40"
          alt="Shield icon"
          class="overview__item-img"
        />
        <h3 class="overview__item-title heading-h5">
          Strengthen consumer privacy
        </h3>
        <p class="overview__item-descr text-p-default">
          Protect your customer date with leading privacy-preserving
          technologies and advanced techniques to&nbsp;minimize date movement
          while still enabling insight generation.
        </p>
      </li>
    </ul>
  </div>
</section>
