<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__head">
      <h2 class="testimonials__title heading-h2">
        What our customer are saying
      </h2>
      <p class="testimonials__descr text-p-medium">
        We&nbsp;are trusted numerous companies from different business
        to&nbsp;meet their needs
      </p>
    </div>
    <div class="testimonials__slider-wrapper">
      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper testimonials__comments">
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating text-p-default">
              <img
                loading="lazy"
                class="testimonials__raiting-img"
                src="./assets/icons/rating-icon.svg"
                alt="Five stars"
              />
              5.0
            </div>
            <p class="testimonials__comment-text heading-h3">
              "With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a&nbsp;surge
              of&nbsp;visitors on&nbsp;my&nbsp;website"
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                src="./assets/image/comment-author-1.jpg"
                alt="Renee Wells"
                class="testimonials__comment-author-avatar"
              />
              <div class="testimonials__comment-author-info">
                <h6 class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </h6>
                <p
                  class="testimonials__comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating text-p-default">
              <img
                loading="lazy"
                class="testimonials__raiting-img"
                src="./assets/icons/rating-icon.svg"
                alt="Five stars"
              />
              5.0
            </div>
            <p class="testimonials__comment-text heading-h3">
              "With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a&nbsp;surge
              of&nbsp;visitors on&nbsp;my&nbsp;website"
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                src="./assets/image/comment-author-1.jpg"
                alt="Renee Wells"
                class="testimonials__comment-author-avatar"
              />
              <div class="testimonials__comment-author-info">
                <h6 class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </h6>
                <p
                  class="testimonials__comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating text-p-default">
              <img
                loading="lazy"
                class="testimonials__raiting-img"
                src="./assets/icons/rating-icon.svg"
                alt="Five stars"
              />
              5.0
            </div>
            <p class="testimonials__comment-text heading-h3">
              "With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a&nbsp;surge
              of&nbsp;visitors on&nbsp;my&nbsp;website"
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                src="./assets/image/comment-author-1.jpg"
                alt="Renee Wells"
                class="testimonials__comment-author-avatar"
              />
              <div class="testimonials__comment-author-info">
                <h6 class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </h6>
                <p
                  class="testimonials__comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="testimonials__btns">
        <button class="testimonials__btn testimonials__btn--prev">
          <svg
            width="14.399902"
            height="12.600098"
            viewBox="0 0 14.3999 12.6001"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <path
              d="M6.93 12.33C6.58 12.68 6.01 12.68 5.66 12.33L0.26 6.93C-0.09 6.58 -0.09 6.01 0.26 5.66L5.66 0.26C6.01 -0.09 6.58 -0.09 6.93 0.26C7.28 0.61 7.28 1.18 6.93 1.53L3.07 5.4L13.5 5.4C13.99 5.4 14.39 5.8 14.39 6.3C14.39 6.79 13.99 7.2 13.5 7.2L3.07 7.2L6.93 11.06C7.28 11.41 7.28 11.98 6.93 12.33Z"
              fill-opacity="1.000000"
              fill-rule="evenodd"
            />
          </svg>
        </button>
        <button class="testimonials__btn testimonials__btn--next">
          <svg
            width="14.399902"
            height="12.600098"
            viewBox="0 0 14.3999 12.6001"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <path
              d="M7.46 0.26C7.81 -0.09 8.38 -0.09 8.73 0.26L14.13 5.66C14.48 6.01 14.48 6.58 14.13 6.93L8.73 12.33C8.38 12.68 7.81 12.68 7.46 12.33C7.11 11.98 7.11 11.41 7.46 11.06L11.32 7.19L0.89 7.19C0.4 7.19 0 6.79 0 6.3C0 5.8 0.4 5.39 0.89 5.39L11.32 5.39L7.46 1.53C7.11 1.18 7.11 0.61 7.46 0.26Z"
              fill-opacity="1.000000"
              fill-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
